*~
run_output/*
build/windows/Win32*
build/linux/Makefile
*.swp
*sewells.user
*.swo
*.ncb
*.suo
*.pdb
*.asv
*.i
*.ii
*.res
*.cudafe*.c
*.cudafe*.cpp
*.cudafe*.gpu
*.cudafe*.stub.c
*.fatbin
*.fatbin.c
*.hash
*.module_id
*.ptx
*.cubin
build/windows/x64*
build/windows/Debug/*
build/windows/Release/*
build/windows/binned_memory_test/Debug/*
build/windows/binned_memory_test/Release/*
*.csv
run_output
big_out.txt
bin/
build/linux/.obj/
output/
utilities/obj/
utilities/testPartFile
